/*
Karlo Rodriguez Personal Webpage
Made proudly using a small toaster with a Toastmaster GTX 1050
Optimized for Hypertext Markup Language 5 and lower - For modern use browsers
Designed using Microsoft Visual Studio Code
STATIC SITE ONLY
Since you're here, there are some easter eggs on this site that you can find.
*/

/* Reset Styles */
html, body, .hero-text, .hero-image {
   margin: 0;
   padding: 0;
}

/* Skip Navigation */
p.skipnavigation a {
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: Arial;
    font-style: normal;
    left: -10000px;
}
p.skipnavigation a:focus {
    top: 0.4em;
    left: auto;
    right: 0.4em;
    z-index: 2;
}
.skipnavigation {
    float: right; /* Keep this here. Float makes the white space disappear */
}
 
 /* hr Tag Section - Supported for HTML5 & optimized for modern browsers */
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px thin black; /* This code should show up in most modern browsers */
}

/* Hero Image */
.container, body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
}
.container .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Header_Banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
} 
.container .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.container .hero-text p {
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
}
.container .hero-text h1 {
    font-family: Comic Sans MS;
}
img.logo {
    width: 5%;
}
.container .hero-text a {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

/* Browsing Blocks */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    float: left;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background: linear-gradient(to top right, #00ff00 0%, #0099ff 100%);
    color: black;
}
.flip-card-back {
    background-color: lightgreen;
    color: black;
    transform: rotateY(180deg);
}
#cards_center .flip-card {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.flip-card h1 {
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: 'Cabin', sans-serif;
}
.flip-card p {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Text Modifications */
h2 {
    font-family: 'Rubik', sans-serif;
}
p {
    font-family: 'Comic Sans MS';
    font-style: italic;
}
#notice p {
    font-weight: bold;
    font-family: Arial;
    font-style: normal;
    font-size: 9px;
}
.modification {
    color: red;
    font-weight: bold;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    background-color: lightseagreen;
    padding: 3px;
    border-radius: 3px;
}
a:hover {
    background-color: seagreen;
}
a.hidden {
    background-color: transparent;
    font-family: 'Comic Sans MS';
    display: inline-block;
    padding: 0;
    margin: 0;
}
#notice a {
    background-color: transparent;
    font-style: normal;
    padding: 0;
    margin: 0;
}
.main_course {
    text-decoration: underline;
    font-weight: bold;
}

/* Width Change */
#width-change {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* Divided Sections */
#about {
    margin-top: 1%; /* If someone asks about why the #about section is 1%, this was on purpose because I don't want any spaces within that code */
}
#experience {
    margin-top: 5%;
}
#coursework {
    margin-top: 5%;
    display: inline-block;
}
#reference {
    margin-top: 5%;
}
#references {
    margin-top: 5%;
}
#examples {
    margin-top: 5%;
}
#notice {
    margin-top: 1%; /* If someone asks about why the #about section is 1%, this was on purpose because I don't want any spaces within that code */
    margin-bottom: 1%;
}