/* Squidward Community College - Information Technology Department */

/* "What are those neanderthals doing? Can't they see I'm spoiling myself?" - Squidward Tentacles */

/* Made on 3/9/2023 */

/* Reset Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
article, .alert, img, header, footer {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* Skip Navigation - Hidden Text*/
p.skipnavigation {
    float: right;
}
p.skipnavigation a {
    position: absolute;
    left: -10000px;
    color: black;
    text-decoration: none;
}
p.skipnavigation a:focus {
    top: 0.4em;
    left: auto;
    right: 0.4em;
    z-index: 2;
    float: left;
}

/* Alert Boxes */
.alert {
    border-radius: 5px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    background-color: RGB(255,172,172);
    margin-bottom: 15px;
    padding: 1%;
    font-family: 'Comic Neue', cursive;    
    text-align: left;
}
.alert p {
    padding: 0.5%;
    margin-left: 5px;
    font-family: 'Comic Neue', cursive;
}
.alert a {
    color: black;
}
.alert a:hover {
    background-color: white;
}
.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 32px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: white;
}

/* Header */
.topnav img {
    width: 5%;
    margin: 1%;
    float: left;
}
.topnav h3 {
    float: left;
    margin-top: 3%;
}
.topnav {
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    margin-top: 6%;
    margin-right: 5px;
}
#floatright {
    float: right;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav .icon {
    display: none;
}
header {
    background-color: RGB(0,102,102);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Encode Sans', sans-serif;
}

/* Promo Text */
.promo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/SquidwardCommunityCollege.png");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.promo-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Comic Neue', cursive;
    text-align: left;
}

/* Article Section */
article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    text-align: left;
}
article p {
    font-size: 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
article h1 {
    padding-top: 2%;
    padding-left: 2%;
}
article h4 {
    margin-left: 3%;
}

/* Footer */
footer {
    background-color: RGB(0,102,102);
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comic Neue', cursive;
    color: white;
    display: inline-block;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
footer a:hover {
    color: black;
}
.quote {
    padding: 1%;
    font-style: italic;
}
.quote a {
    font-size: 16px;
}

/* Responsive Design */
@media screen and (max-width: 1600px) {
    .topnav a {
        margin-top: 4%;
        margin-right: 5px;
    }
    .promo-text {
        margin-left: 4%;
    }
}
@media screen and (max-width: 1300px) {
    .topnav a {
        margin-top: 3%;
        margin-right: 5px;
    }
    .promo-text {
        margin-left: 10%;
    }
}
@media screen and (max-width: 1240px) {
    .topnav a:not(:last-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        margin: 10px;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        position: relative;
        right: 50%;
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 890px) {
    .topnav img {
        width: 10%;
    }
}
@media screen and (max-width: 452px) {
    header h3 {
        display: inline;
        text-align: center;
    }
    .alert {
        width: 100%;
    }
    .topnav img {
        width: 50%;
        float: none;
    }
    header {
        width: 100%;
    }
    .promo {
        width: 100%;
    }
    .promo-text {
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    article {
        width: 100%;
    }
    footer {
        width: 100%;
    }
}